.snowflake {
    color: white;
    background-color: aqua;
}

.sun {
    color: orange;
    background-color: aliceblue;
}
.season-display {
    display:flex;
    align-items:center;
    height: 100vh;
}